/* font */

.work-sans-normal {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* bar style */
div ul li{
    list-style: none;
}

div ul{
    display: flex;
    justify-content: space-between;
}

.btn-bar{
    font-weight: 600;
    font-size: 18px;
    border-radius: 8px;
    padding: 15px 30px;
}

.bar-title{
    font-weight: 700;
    font-size: 32px;
}

.top-bar{
    margin: 0px 100px 0px 100px;
}

.header-bar{
    align-items: center;
}

.btn-bar:hover{
    cursor: pointer;
}
/* bar color */
.btn-bar{
    color: #006A50;
}

/* banner style */
.banner-greetings{
    font-weight: 500;
    font-size: 24px;
}

.banner-heading{
    font-weight: 800;
    font-size: 56px;
}

.banner-btn{
    font-weight: 600;
    font-size: 18px;
}

.banner{
    display:flex;
    border-radius: 24px;
    justify-content: space-between;
    gap: 64;
    padding: 80px 100px 80px 100px;
    margin-top: 20px;
    margin-bottom: 80px;
}

.banner-content{
    margin-left: 60px;
    margin-bottom: 117px;

}

.banner-img{
    /* Group 1 */
position: static;
width: 474.03px;
height: 400px;
/* Inside Auto Layout */
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 64px;
}

.banner-btn:hover{
    cursor: pointer;
}

/* banner color */
.banner-greetings{
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
}

.banner-heading{
    color: rgb(14, 14, 14);
font-family: Fira Sans;
font-size: 56px;
font-weight: 700;
line-height: 67px;
letter-spacing: 0%;
text-align: left;
}

.banner-btn{
    border-radius: 8px;
    background: #006A50;
    border:none;
    padding: 17px 34px 17px 34px;
    color: rgb(255, 255, 255);
}

.banner{
    background-color: #C6E4D6;
}

/* card style */
.card-heading{
    font-weight: 800;
    font-size: 40px;
}

.card{
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 24px;
    margin-top: 40px;
    
}
.card-content-heading{
    font-weight: 800;
    font-size: 20px;
}

.card-content-para{
    font-weight: 400;
    font-size: 16px;
}

.card-section{
    display:flex;
}


/* card color */
.card-heading{
    color:#0E0E0E;
}

.card-content-heading .card-content-para{
    color:#0E0E0E;
}

.card{
    background: rgb(255, 255, 255);
}

/* vision heading area style */
.vision-area{
    margin-top: 80px;
}

.vision-heading{
    font-weight: 800;
    font-size: 40px;
}

/* vision card style */
.vision-card1{
    border: 1px solid;
    padding:32px;
    box-sizing: border-box;
    border-radius: 16px;
    border: none;
}

.vision-card2{
    border: 1px solid;
    padding:32px;
    box-sizing: border-box;
    border-radius: 16px;
    border: none;
}

.vision-card3{
    border: 1px solid;
    padding:32px;
    box-sizing: border-box;
    border-radius: 16px;
    border: none;
}


.vision-card-content-heading{
    font-weight: 800;
    font-size: 20px;
}

.vision-card-content-btn1{
    font-weight: 600;
    font-size: 16px;
    padding: 11px 20px 11px 20px;
    border:none;
    border-radius: 8px;
}

.vision-card-content-btn2{
    font-weight: 600;
    font-size: 16px;
    padding: 11px 20px 11px 20px;
    border:none;
    border-radius: 8px;
}

.vision-card-content-btn3{
    font-weight: 600;
    font-size: 16px;
    padding: 11px 20px 11px 20px;
    border:none;
    border-radius: 8px;
}

.vision-section{
    display:flex;
    margin-top: 30px;
}

.vision-card-content-btn1:hover{
    cursor: pointer;
}

.vision-card-content-btn2:hover{
    cursor: pointer;
}

.vision-card-content-btn3:hover{
    cursor: pointer;
}
/* vision card style color */
.vision-card-content-btn1{
    color:#FFFFFF;
    background-color: #5490F5;
}

.vision-card1{
    background: rgba(84, 144, 245, 0.2);
}

.vision-card-content-btn2{
    color:#FFFFFF;
    background-color: rgb(9, 161, 92);
}

.vision-card2{
    background: rgb(198, 228, 214);
}

.vision-card-content-btn3{
    color:#FFFFFF;
    background-color: rgb(255, 194, 57);
}

.vision-card3{
    background: rgb(247, 235, 207);
}

/* quote area style */
.quote-box{
    /* padding: 48px 24px 48px 24px; */
    box-shadow: #FFFFFF;
    margin-top: 32px;
}

.quote-author{
    margin-left: 37px;
    padding: 0px 24px 48px 24px;
}

.quote-author-name{
    font-weight: 600;
    font-size: 20px;
}

.quote-author-by{
    font-weight: 400;
    font-size: 16px;
}

blockquote{
    background-image:  url("../assets/quote-bg.png");
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: top left;
    padding: 30px 24px 0px 24px;
}

/* quote color */
.quote-box{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;

    background: rgb(255, 255, 255);
}

/* opinion box style */
.opinion-box{
    margin-top: 80px;
}

.opinion-heading{
    font-weight: 800;
    font-size: 40px;
}

.opinion-head{
    padding:32px;
    border-radius: 16px;
}

.opinion-question-head{
    font-weight: 600;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding: 24px;
}

.opinion-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.opinion-question{
    font-weight: 600;
    font-size: 16px;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.1);
    padding: 24px;
}

.opinion-select{
    font-weight: 600;
    font-size: 16px;
    padding: 14px 10px;
    margin-top: 10px;
    border-radius: 5px;
}


/* opinion box color */
.opinion-head{
    border-radius: 16px;

    background: rgb(240, 234, 234);
}

.opinion-question-head{
    background-color: #C6E4D6;
}

.opinion-select{
    background-color: #C6E4D6;
}

/* recent news style */
.recent-news{
    margin-top: 80px;
}

.recent-news-heading{
    font-weight: 700;
    font-size: 40px;
}

.recent-news-paragraph{
    font-weight: 400;
    font-size: 16px;
}

.recent-news-card1-img{
    border-radius: 24px;
    margin-right: 32px;
}

.recent-news-card1{
    display: flex;
    margin-bottom: 20px;
    border-radius: 24px;
    padding: 48px;
}

.recent-news-card1-content{
    margin-bottom: 10px;
}

.recent-news-date-time{
    display: flex;
}

.recent-news-card1-content-head{
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 0px;
}

.recent-news-date{
    margin-right: 10px;
}

.recent-news-card1-content-para{
    font-weight: 400;
    font-size: 16px;
}

.recent-news-card1-content-link{
    font-weight: 600;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    padding: 13px 26px 13px 26px;
}

.recent-news-card2{
    display: flex;
    margin-bottom: 20px;
    flex-direction: row-reverse;
    border-radius: 24px;
    padding: 48px;
}

.recent-news-card3{
    display: flex;
    border-radius: 24px;
    padding: 48px;
}

.recent-news-card1-content-link:hover{
    cursor: pointer;
}

/* recent news color */
.recent-news-card1{
    background: rgb(241, 235, 235);
}

.recent-news-card2{
    background: rgb(241, 235, 235);
}

.recent-news-card3{
    background: rgb(241, 235, 235);
}

.recent-news-card1-content-link{
    background: rgb(0, 106, 80);
    color: white;
}

/* donate style */
.donate-content-heading{
    font-weight: 700;
    font-size: 40px;
}

.donate-content-para{
    font-weight: 400;
    font-size: 16px;

}

.donate-content-btn1{
    font-weight: 700;
    font-size: 40px;
    border-radius: 16px;
    border: none;
    padding: 40px;
    margin-right: 30px;
}

.donate-content-btn1:hover{
    cursor: pointer;
    background-color: #5490F5;
}

.donate-content-btn2{
    font-weight: 700;
    font-size: 40px;
    border-radius: 16px;
    border: none;
    padding: 40px;
    margin-right: 30px;
}

.donate-content-btn2:hover{
    cursor: pointer;
    background-color: green;
}

.donate-content-btn3{
    font-weight: 700;
    font-size: 40px;
    border-radius: 16px;
    border: none;
    padding: 40px;
    margin-right: 30px;
}

.donate-content-btn3:hover{
    cursor: pointer;
    background-color: yellowgreen;
}

.donate-content-btn4{
    font-weight: 700;
    font-size: 40px;
    border-radius: 16px;
    border: none;
    padding: 40px;
    margin-right: 30px;
}

.donate-content-btn4:hover{
    cursor: pointer;
    background-color: burlywood;
}

.Other-amount{
    margin: 32px 0px;
    padding: 20px 40px 20px 40px;
    width: 600px;
}

.donate-content-btn-sub{
    border-radius: 8px;
    border: none;
    padding: 17px 34px 17px 34px;
    font-weight: 600;
    font-size: 18px;
    color: white;
}

.donate-content-btn-sub:hover{
    cursor: pointer;
}


.donate-content-btn{
    display: flex;
    justify-content: center;
}

.donate-content-h2{
    display: flex;
    justify-content: center;
}

.donate-content-p{
    display: flex;
    justify-content: center;
}

.donate-box-other{
    display: flex;
    justify-content: center;
}

.donate-box-sub{
    display: flex;
    justify-content: center;
}
/* donate color */
.donate-content-btn-sub{
    background-color: #006A50;
}


/* subscribe area style */
.subscribe-area{
    padding: 100px 80px 100px 80px;
    border-radius: 24px;
    margin-top: 80px;
}

.subscribe-head-div{
    display: flex;
    justify-content: center;
}

.subscribe-head{
    font-weight: 700;
    font-size: 40px;
}

.subscribe-para-div{
    display: flex;
    justify-content: center;
}

.subscribe-para{
    font-weight: 400;
    font-size: 16px;
    margin-top: 0px;
}

.subscribe-btn-div{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.subscribe-mail{
    padding: 18px 40px 18px 40px;
    width: 600px;
}

.subscribe-btn{
    border-radius: 0px 8px 8px 0px;
    border: none;
    background: rgb(0, 106, 80);
    padding: 17px 34px 17px 34px;
    color: white;
    font-weight: 600;
    font-size: 18px;
}

.subscribe-btn:hover{
    cursor: pointer;
}

/* subscribe area color */
.subscribe-area{
    background-color:#C6E4D6;
}

/* footer area style */
.footer-section{
    background-color: #FFFFFF;
    border-radius: 16px;
    border:1px solid whitesmoke ;
    margin-top: 80px;
    padding: 160px 50px 160px 50px;
}

.footer-head-div{
    display: flex;
    justify-content: center;
}

.footer-head{
    font-weight: 800;
    font-size: 32px;
}

#hori{
    background-color: wheat;
    width:1000px;
}

.footer-img{
    display: flex;
    justify-content: center;
}

.img1{
    margin-right: 30px;
    margin-top: 20px;
}
